POSTGRES_DB==
POSTGRES_USER==
POSTGRES_PASSWORD=

POSTGRES_PORT=5432
REDIS_PORT=6379

KAFKA_PORT=29092
KAFKA_INTERNAL_PORT=9092
KAFKA_CONTROLLER_PORT=9093
KAFKA_UI_PORT=8090
KAFKA_UI_INTERNAL_PORT=8080

SERVICE_INTERNAL_PORT=8080
GATEWAY_BFF_PORT=8080
VENDOR_SERVICE_PORT=8081
MOYSKLAD_EGRESS_SERVICE_PORT=8082
CATALOG_SYNC_SERVICE_PORT=8083
DUPLICATES_MERGE_SERVICE_PORT=8084
MERGE_DOCUMENT_DISCOVERY_TIMEOUT=00:10:00
MERGE_CONSUMER_MAX_POLL_INTERVAL_MS=660000
NOTIFICATION_SERVICE_PORT=8085
AUDIT_SERVICE_PORT=8086
DOCUMENTS_PUT_CHANGE=customerorder,demand,invoiceout,invoicein,supply,purchaseorder,paymentin,paymentout,cashin,cashout,retaildemand,counterpartyadjustment,commissionreportout,commissionreportin
DOCUMENTS_CHANGE_AGENT_AND_CONTRACT=commissionreportout,commissionreportin
DOCUMENTS_DISCOVERY=customerorder,demand,invoiceout,invoicein,supply,purchaseorder,paymentin,paymentout,cashin,cashout,retaildemand,counterpartyadjustment,commissionreportin,commissionreportout,purchasereturn,salesreturn,retailsalesreturn,factureout,facturein
DOCUMENTS_MERGE_EXCLUDE=
VITE_ALLOWED_HOSTS=localhost,127.0.0.1,uneatable-moneybags-mahogany.ngrok-free.dev

INTERNAL_API_KEY=

MOYSKLAD_VENDOR_APP_ID=
MOYSKLAD_VENDOR_APP_UID=
MOYSKLAD_VENDOR_SECRET=
VENDOR_TOKEN_ENCRYPTION_KEY=
