:8088 {
	log {
		output stdout
		format console
	}

	# Всё backend API, включая Vendor API
	handle /api/* {
		reverse_proxy 127.0.0.1:8080
	}

	# Health Gateway
	handle /health* {
		reverse_proxy 127.0.0.1:8080
	}

	# Frontend
	handle {
		reverse_proxy 127.0.0.1:4174
	}
}
